<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[[${pageTitle}]]</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<style>
    body {
        font-family: Gill Sans,serif;
        background-color: gray;
    }
    .square-box {
        max-width: 600px;
        min-height: 300px;
    }
    .small-box {
        max-width: 400px;
        min-height: 200px;
    }
</style>
<body>
<div class="container small-box d-flex justify-content-center align-items-end">
    <div class="text-center"><h2>[[${pageTitle}]]</h2></div>
</div>
<div class="container square-box d-flex justify-content-center align-items-center">
    <form class="needs-validation" novalidate th:action="@{/users/save}" th:object="${user}" method="post"
          style="max-width: 500px; margin: 0 auto">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
        </div>
        <div class="form-row">
            <div class="col-6">
                <label for="validationCustom01">Full Name</label>
                <input type="text" class="form-control" id="validationCustom01"
                       placeholder="Peter Benjamin Parker" th:field="*{name}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide your full name
                </div>
            </div>
            <div class="col-6">
                <label for="validationCustom02">Account</label>
                <input type="email" class="form-control" id="validationCustom02"
                       placeholder="peterbp@fsoft.com.vn" th:field="*{account}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide your company account
                </div>
            </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-row">
            <div class="col-6">
                <label for="validationCustom03">Password</label>
                <input type="password" class="form-control" id="validationCustom03"
                       placeholder="At least 8 characters" th:field="*{password}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a valid password
                </div>
            </div>
            <div class="col-6">
                <label for="validationCustom04">Role</label>
                <input type="text" class="form-control" id="validationCustom04"
                       placeholder="Spider Man" th:field="*{role}" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide your role.
                </div>
            </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-group">
            <label class="mr-sm-2" for="inlineFormCustomSelect">Working Status</label>
            <select class="custom-select mr-sm-2"  id="inlineFormCustomSelect" th:field="*{status}" required>
                <option value="Unknown" >...</option>
                <option value="At Company (On-site)">At Company (On-site)</option>
                <option value="Work From Home (Online)">Work From Home (Online)</option>
            </select>
            <div class="valid-feedback">
                Your working status would be "Unknown" if nothing is selected
            </div>
        </div>
        <div class="form-group">
        </div>
        <div class="form-row">
            <div class="col-auto mr-auto">
                <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-light btn-lg" onClick="cancelForm()">Cancel</button>
            </div>
        </div>
    </form>
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';
            window.addEventListener('load', function() {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function(form) {
                    form.addEventListener('submit', function(event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

        function cancelForm() {
            window.location = "[[@{/users}]]";
        }
    </script>
</div>
</body>
</html>