<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users Management System</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"  />
</head>
<style>
    body {
        font-family: Gill Sans,serif;
        background-color: gray;
    }
    .square-box {
        max-width: 600px;
        min-height: 600px;
    }
    .small-box {
        max-width: 600px;
        min-height: 200px;
        /*border: 1px solid;*/
    }
</style>
<body>
<div class="container small-box d-flex justify-content-center align-items-end">
    <h1>_Users Management System_</h1>
</div>
<div class="container square-box d-flex justify-content-center align-items-center">
    <a th:href="@{/users}" class="h2 btn btn-outline-dark btn-lg">Manager Users</a>
</div>
</body>
</html>